*{
    font-family: sans-serif;
}

  /* heading  */
h1{
    text-align: center;
}

     
table{
    width: 99%;
    
     margin: 30px auto; 
}

      /* table head title css*/
thead>tr>th{
    background-color: rgb(179, 179, 179);
    
}
     /* employes  section css */
tbody>tr>td{
 border-bottom: 1px solid;
 padding-left:45px ;
  
}